In [1]:
from pytrends.request import TrendReq
import pandas as pd
from datetime import datetime

In [2]:
pytrends = TrendReq(hl='en-US', tz=0) # 60 = CET 0 = UTC

# specifies current time as end date of results

now = datetime.now().strftime("%d/%m/%Y %H:%M:%S")
now_d = int(now[:2])
now_m = int(now[3:5])
now_y = int(now[6:10])
now_h = int(now[11:13])

In [3]:
kw_list = ['Dogecoin', 'Samoyedcoin']
coin_list = []
data = []

In [4]:
# fetches historical data 

for kw in kw_list:
    coin_list = [kw]
    data.append(pytrends.get_historical_interest(
            coin_list, year_start=now_y, month_start=now_m-1, day_start=now_d,
            hour_start=now_h, year_end=now_y, month_end=now_m, day_end=now_d-1,
            hour_end=now_h, cat=0, sleep=0))
data

[                     Dogecoin isPartial
 date
 2021-10-24 16:00:00        24     False
 2021-10-24 17:00:00        24     False
 2021-10-24 18:00:00        33     False
 2021-10-24 19:00:00        33     False
 2021-10-24 20:00:00        31     False
 ...                       ...       ...
 2021-11-23 12:00:00        83     False
 2021-11-23 13:00:00        82     False
 2021-11-23 14:00:00        91     False
 2021-11-23 15:00:00        92     False
 2021-11-23 16:00:00        85     False

 [725 rows x 2 columns],
                      Samoyedcoin isPartial
 date
 2021-10-24 16:00:00            5     False
 2021-10-24 17:00:00            8     False
 2021-10-24 18:00:00            4     False
 2021-10-24 19:00:00           11     False
 2021-10-24 20:00:00           15     False
 ...                          ...       ...
 2021-11-23 12:00:00           21     False
 2021-11-23 13:00:00           40     False
 2021-11-23 14:00:00           29     False
 2021-11-23 15:00:00           19     False
 2021-11-23 16:00:00            1     False

 [725 rows x 2 columns]]

In [5]:
# turns data into df

df = data[0].iloc[:,0]
for i in range(1,len(kw_list)):
        df = pd.merge(left=df, right=data[i].iloc[:,0], how='outer', on='date')

# non-existing values are replaced by 0.25 (avg of 0 & 0.5, the range of values marked as <1 on GT)
df = df.fillna(0.25)
df

                     Dogecoin  Samoyedcoin
date
2021-10-24 16:00:00        24            5
2021-10-24 17:00:00        24            8
2021-10-24 18:00:00        33            4
2021-10-24 19:00:00        33           11
2021-10-24 20:00:00        31           15
...                       ...          ...
2021-11-23 12:00:00        83           21
2021-11-23 13:00:00        82           40
2021-11-23 14:00:00        91           29
2021-11-23 15:00:00        92           19
2021-11-23 16:00:00        85            1

[733 rows x 2 columns]

In [6]:
last_timestamp = df.index[-1]

now = datetime.now().strftime("%d/%m/%Y %H:%M:%S")
now_d = int(now[:2])
now_m = int(now[3:5])
now_y = int(now[6:10])
now_h = int(now[11:13])

In [7]:
#fetches current data to add to df
data = []
for kw in kw_list:
    coin_list = [kw]
    data.append(pytrends.get_historical_interest(
            coin_list, year_start=last_timestamp.year, month_start=last_timestamp.month, day_start=last_timestamp.day,
            hour_start=last_timestamp.hour, year_end=now_y, month_end=now_m, day_end=now_d,
            hour_end=now_h, cat=0, sleep=0))
data

The request failed: Google returned a response with code 400.
The request failed: Google returned a response with code 400.

[                     Dogecoin isPartial
 date
 2021-11-23 16:00:00        91     False
 2021-11-23 17:00:00       100     False
 2021-11-23 18:00:00        99     False
 2021-11-23 19:00:00        92     False
 2021-11-23 20:00:00        87     False
 2021-11-23 21:00:00        85     False
 2021-11-23 22:00:00        83     False
 2021-11-23 23:00:00        84     False
 2021-11-24 00:00:00        79     False
 2021-11-24 01:00:00        81     False
 2021-11-24 02:00:00        87     False
 2021-11-24 03:00:00        97     False
 2021-11-24 04:00:00       100     False
 2021-11-24 05:00:00        90     False
 2021-11-24 06:00:00        92     False
 2021-11-24 07:00:00        81     False
 2021-11-24 08:00:00        78     False
 2021-11-24 09:00:00        75     False
 2021-11-24 10:00:00        72     False
 2021-11-24 11:00:00        70     False
 2021-11-24 12:00:00        73     False
 2021-11-24 13:00:00        73     False
 2021-11-24 14:00:00        76     False
 2021-11-24 15:00:00        77      True,
                      Samoyedcoin isPartial
 date
 2021-11-23 16:00:00            1     False
 2021-11-23 17:00:00           18     False
 2021-11-23 18:00:00           19     False
 2021-11-23 19:00:00           29     False
 2021-11-23 20:00:00           31     False
 2021-11-23 21:00:00           22     False
 2021-11-23 22:00:00           26     False
 2021-11-23 23:00:00           29     False
 2021-11-24 00:00:00           59     False
 2021-11-24 01:00:00           42     False
 2021-11-24 02:00:00           43     False
 2021-11-24 03:00:00           15     False
 2021-11-24 04:00:00            0     False
 2021-11-24 05:00:00           15     False
 2021-11-24 06:00:00           15     False
 2021-11-24 07:00:00            0     False
 2021-11-24 08:00:00          100     False
 2021-11-24 09:00:00           12     False
 2021-11-24 10:00:00           57     False
 2021-11-24 11:00:00           32     False
 2021-11-24 12:00:00           20     False
 2021-11-24 13:00:00            9     False
 2021-11-24 14:00:00           24     False
 2021-11-24 15:00:00           52      True]

In [8]:
# turns data into df

df_new = data[0].iloc[:,0]
for i in range(1,len(kw_list)):
    df_new = pd.merge(left=df_new, right=data[i].iloc[:,0], how='outer', on='date')

# non-existing values are replaced by 0.25 (avg of 0 & 0.5, the range of values marked as <1 on GT)
df_new = df_new.fillna(0.25)
df_new

                     Dogecoin  Samoyedcoin
date
2021-11-23 16:00:00        91            1
2021-11-23 17:00:00       100           18
2021-11-23 18:00:00        99           19
2021-11-23 19:00:00        92           29
2021-11-23 20:00:00        87           31
2021-11-23 21:00:00        85           22
2021-11-23 22:00:00        83           26
2021-11-23 23:00:00        84           29
2021-11-24 00:00:00        79           59
2021-11-24 01:00:00        81           42
2021-11-24 02:00:00        87           43
2021-11-24 03:00:00        97           15
2021-11-24 04:00:00       100            0
2021-11-24 05:00:00        90           15
2021-11-24 06:00:00        92           15
2021-11-24 07:00:00        81            0
2021-11-24 08:00:00        78          100
2021-11-24 09:00:00        75           12
2021-11-24 10:00:00        72           57
2021-11-24 11:00:00        70           32
2021-11-24 12:00:00        73           20
2021-11-24 13:00:00        73            9
2021-11-24 14:00:00        76           24
2021-11-24 15:00:00        77           52

In [9]:
# differences in scale between old and new data
# need to add exsception if coin not in list
for kw in kw_list:
    scaler = df[kw].iloc[-1] / df_new[kw].iloc[0]
    df_new[kw] = scaler * df_new[kw]
df_new

                      Dogecoin  Samoyedcoin
date
2021-11-23 16:00:00  85.000000          1.0
2021-11-23 17:00:00  93.406593         18.0
2021-11-23 18:00:00  92.472527         19.0
2021-11-23 19:00:00  85.934066         29.0
2021-11-23 20:00:00  81.263736         31.0
2021-11-23 21:00:00  79.395604         22.0
2021-11-23 22:00:00  77.527473         26.0
2021-11-23 23:00:00  78.461538         29.0
2021-11-24 00:00:00  73.791209         59.0
2021-11-24 01:00:00  75.659341         42.0
2021-11-24 02:00:00  81.263736         43.0
2021-11-24 03:00:00  90.604396         15.0
2021-11-24 04:00:00  93.406593          0.0
2021-11-24 05:00:00  84.065934         15.0
2021-11-24 06:00:00  85.934066         15.0
2021-11-24 07:00:00  75.659341          0.0
2021-11-24 08:00:00  72.857143        100.0
2021-11-24 09:00:00  70.054945         12.0
2021-11-24 10:00:00  67.252747         57.0
2021-11-24 11:00:00  65.384615         32.0
2021-11-24 12:00:00  68.186813         20.0
2021-11-24 13:00:00  68.186813          9.0
2021-11-24 14:00:00  70.989011         24.0
2021-11-24 15:00:00  71.923077         52.0

In [11]:
df = pd.concat([df, df_new.iloc[1:,:]], axis=0)
df

                      Dogecoin  Samoyedcoin
date
2021-10-24 16:00:00  24.000000          5.0
2021-10-24 17:00:00  24.000000          8.0
2021-10-24 18:00:00  33.000000          4.0
2021-10-24 19:00:00  33.000000         11.0
2021-10-24 20:00:00  31.000000         15.0
...                        ...          ...
2021-11-24 11:00:00  65.384615         32.0
2021-11-24 12:00:00  68.186813         20.0
2021-11-24 13:00:00  68.186813          9.0
2021-11-24 14:00:00  70.989011         24.0
2021-11-24 15:00:00  71.923077         52.0

[756 rows x 2 columns]