# RNN Model Development

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout, Masking, GRU
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.preprocessing.sequence import pad_sequences

from sklearn.preprocessing import MinMaxScaler, RobustScaler
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

from datetime import datetime, timedelta

# GBQ importing data

In [65]:
list_of_dfs = ["ban", "cummies", "dinu", "doge",
"doggy", "elon", "erc20", "ftm", "grlc", "hoge",
"lowb", "mona", "samo", "shib", "shibx", "smi",
"wow", "yooshi","yummy"]

project_id = 'crypto-prediction-333213'

def get_data():
    
    dfs = []

    for df in list_of_dfs:

        sql = f"""
        SELECT *
        FROM `crypto-prediction-333213.crypto_BQDB.{df}`;
        """

        dfs.append(pd.read_gbq(sql, project_id=project_id, dialect='standard'))
        
    return dfs

def data_cleaning(dfs):
    
    # takes as input the list of dataframes

    dfs_new = []

    for i in range(0,len(dfs)):
        df = dfs[i]
        price_col = [i for i in df.columns if "price" in i][0]
        
        # data cleaning
        df = df.sort_values(by="datetime")
        df = df.drop_duplicates(keep= "last")
        df = df.set_index("datetime")
        df[price_col].interpolate(method="linear", inplace= True)
        
        # adding financial indicators
        df["hourly_pct_change"] = df[price_col].pct_change(1)
        df["MA12_hours"] = df[price_col].rolling(window=12).mean()
        df["MA72_hours"] = df[price_col].rolling(window=72).mean()
        df["MAshort_over_long"] = df["MA12_hours"] > df["MA72_hours"]
        df["MAshort_over_long"] = df["MAshort_over_long"].apply(lambda x: 1 if x == True else 0)
        
        cols = [i for i in df.columns[2:]]
        for col in cols:
            df[col] = df[col].fillna(-99)
        
        dfs_new.append(df)
    
    return dfs_new

In [62]:
dfs = get_data()
dfs[0]

                      datetime  price_ban  tweets_ban
0    2021-09-09 05:00:00+00:00   0.008681           0
1    2021-09-09 06:00:00+00:00   0.008569           0
2    2021-09-09 11:00:00+00:00   0.008541           0
3    2021-09-09 18:00:00+00:00   0.008598           0
4    2021-09-10 04:00:00+00:00   0.008543           0
...                        ...        ...         ...
1995 2021-10-23 17:00:00+00:00   0.008740          61
1996 2021-09-25 19:00:00+00:00   0.007421          70
1997 2021-10-02 17:00:00+00:00   0.007332          73
1998 2021-11-11 15:00:00+00:00   0.022351          79
1999 2021-10-23 16:00:00+00:00   0.008756          93

[2000 rows x 3 columns]

In [66]:
dfs = get_data()
dfs = data_cleaning(dfs)

In [49]:
dfs[0]

                           price_ban  tweets_ban  ...  MA72_hours  MAshort_over_long
datetime                                          ...
2021-09-09 01:00:00+00:00  -4.747466           1  ...  -99.000000                  0
2021-09-09 02:00:00+00:00  -4.759288           4  ...  -99.000000                  0
2021-09-09 03:00:00+00:00  -4.764473           2  ...  -99.000000                  0
2021-09-09 04:00:00+00:00  -4.751101           2  ...  -99.000000                  0
2021-09-09 05:00:00+00:00  -4.746628           0  ...  -99.000000                  0
...                              ...         ...  ...         ...                ...
2021-12-01 04:00:00+00:00  -4.070548           2  ...    0.016611                  1
2021-12-01 05:00:00+00:00  -4.077048           0  ...    0.016637                  1
2021-12-01 06:00:00+00:00  -4.080204           0  ...    0.016662                  1
2021-12-01 07:00:00+00:00  -4.082939           0  ...    0.016683                  1
2021-12-01 08:00:00+00:00  -4.087371           1  ...    0.016704                  1

[2000 rows x 6 columns]

# Reshaping Data

In [5]:
horizon = 24

history_size = 48

def get_X_y(history_size, horizon, dataset):

    X = []
    y = []

    for i in range(0, dataset.shape[0]-history_size-horizon):
        X.append(dataset[i:i+history_size,:])
        y.append(dataset[i+history_size: i+history_size+horizon,0]) # should be series of next 24 values for 24h forecast

    return np.array(X), np.array(y)

def reshape_data(dfs, history_size):

    # scaling the data & get_X_y for all datasets
    X = []
    y = []
    scalers = []

    for df in dfs:

        # log transform
        price_col = [i for i in df.columns if "price" in i][0]
        df[price_col] = np.log(df[price_col])
        
        data = df.values
        
        # scaling
        scaler = MinMaxScaler()
        
        scaler.fit(data)
        data = scaler.transform(data)
        
        # get X and y
        X_arr, y_arr = get_X_y(history_size, horizon, data)
        
        X.append(X_arr)
        y.append(y_arr)
        scalers.append(scaler)

    # stacking data three-dimensionally
    X = np.stack(X, axis= 2).reshape(len(X[0]),history_size,-1)
    y = np.stack(y, axis = 2).reshape(len(y[0]),-1)

    return X, y, scalers

In [6]:
dfs_tmp = dfs[:]

In [7]:
X, y, scalers =reshape_data(dfs_tmp, history_size)

In [8]:
X.shape

(1928, 48, 114)

In [9]:
y.shape

(1928, 456)

In [10]:
def garrit(coins, horizon):    
    number_of_cryptos = 2
    # instantiating a model
    model = Sequential()

    # first network layer
    model.add(Masking(mask_value=-1))
    model.add(LSTM(units = 50, activation= "tanh", return_sequences= True))
    model.add(Dropout(0.2))

    # network layer's 2 - 5
    model.add(LSTM(units= 50, activation= "tanh", return_sequences= True))
    model.add(LSTM(units= 10, activation= "tanh", return_sequences= False))
    model.add(Dropout(0.2))

    # network output layer
    # predicting future_horizon = 24 hours
    # for two cryptos
    model.add(Dense(coins*horizon, activation= "linear")) # should be 24 for 24h forecast

    model.compile(optimizer= "adam", loss= "mse")

    return model
    #XXXXX

# Modeling

In [105]:
def morten(coins, horizon):
    coins = 19
    # instantiating a model
    model = Sequential()

    # first network layer
    model.add(Masking(mask_value=-99))
    model.add(GRU(units = 50, activation= "tanh", return_sequences= True))
    model.add(Dropout(0.2))

    # network layer's 2 - 5
    model.add(GRU(units= 50, activation= "tanh", return_sequences= True))
    model.add(Dropout(0.2))
    model.add(GRU(units= 25, activation= "tanh", return_sequences= False))
    model.add(Dropout(0.2))

    # network output layer
    # predicting future_horizon = 24 hours
    model.add(Dense(coins*horizon, activation= "linear")) # should be 24 for 24h forecast

    model.compile(optimizer= "adam", loss= "mse")

    return model

In [106]:
model = morten(19,24)

In [13]:
model

In [107]:
es = EarlyStopping(patience = 10, restore_best_weights= True)

model.fit(X, 
          y,
          validation_split= 0.2,
          epochs = 50,
          batch_size= 64,
          callbacks= [es],
          verbose= 1)

Epoch 1/50
25/25 [==============================] - 21s 287ms/step - loss: 0.2086 - val_loss: 0.1164
Epoch 2/50
25/25 [==============================] - 3s 122ms/step - loss: 0.0798 - val_loss: 0.0513
Epoch 3/50
25/25 [==============================] - 3s 125ms/step - loss: 0.0510 - val_loss: 0.0413
Epoch 4/50
25/25 [==============================] - 3s 122ms/step - loss: 0.0405 - val_loss: 0.0337
Epoch 5/50
25/25 [==============================] - 3s 122ms/step - loss: 0.0326 - val_loss: 0.0302
Epoch 6/50
25/25 [==============================] - 3s 120ms/step - loss: 0.0280 - val_loss: 0.0281
Epoch 7/50
25/25 [==============================] - 3s 120ms/step - loss: 0.0258 - val_loss: 0.0296
Epoch 8/50
25/25 [==============================] - 3s 121ms/step - loss: 0.0242 - val_loss: 0.0293
Epoch 9/50
25/25 [==============================] - 3s 121ms/step - loss: 0.0229 - val_loss: 0.0297
Epoch 10/50
25/25 [==============================] - 3s 120ms/step - loss: 0.0230 - val_loss: 0.0310
Epoch 11/50
25/25 [==============================] - 3s 121ms/step - loss: 0.0210 - val_loss: 0.0299
Epoch 12/50
25/25 [==============================] - 3s 123ms/step - loss: 0.0202 - val_loss: 0.0300
Epoch 13/50
25/25 [==============================] - 3s 122ms/step - loss: 0.0194 - val_loss: 0.0263
Epoch 14/50
25/25 [==============================] - 3s 122ms/step - loss: 0.0187 - val_loss: 0.0265
Epoch 15/50
25/25 [==============================] - 3s 122ms/step - loss: 0.0175 - val_loss: 0.0245
Epoch 16/50
25/25 [==============================] - 3s 121ms/step - loss: 0.0171 - val_loss: 0.0243
Epoch 17/50
25/25 [==============================] - 3s 122ms/step - loss: 0.0166 - val_loss: 0.0253
Epoch 18/50
25/25 [==============================] - 3s 122ms/step - loss: 0.0164 - val_loss: 0.0239
Epoch 19/50
25/25 [==============================] - 3s 123ms/step - loss: 0.0161 - val_loss: 0.0219
Epoch 20/50
25/25 [==============================] - 3s 123ms/step - loss: 0.0153 - val_loss: 0.0210
Epoch 21/50
25/25 [==============================] - 3s 121ms/step - loss: 0.0146 - val_loss: 0.0213
Epoch 22/50
25/25 [==============================] - 3s 121ms/step - loss: 0.0147 - val_loss: 0.0214
Epoch 23/50
25/25 [==============================] - 3s 124ms/step - loss: 0.0138 - val_loss: 0.0233
Epoch 24/50
25/25 [==============================] - 3s 122ms/step - loss: 0.0135 - val_loss: 0.0193
Epoch 25/50
25/25 [==============================] - 3s 123ms/step - loss: 0.0131 - val_loss: 0.0187
Epoch 26/50
25/25 [==============================] - 3s 121ms/step - loss: 0.0131 - val_loss: 0.0181
Epoch 27/50
25/25 [==============================] - 3s 122ms/step - loss: 0.0129 - val_loss: 0.0193
Epoch 28/50
25/25 [==============================] - 3s 121ms/step - loss: 0.0126 - val_loss: 0.0190
Epoch 29/50
25/25 [==============================] - 3s 122ms/step - loss: 0.0120 - val_loss: 0.0192
Epoch 30/50
25/25 [==============================] - 3s 123ms/step - loss: 0.0120 - val_loss: 0.0174
Epoch 31/50
25/25 [==============================] - 3s 123ms/step - loss: 0.0121 - val_loss: 0.0206
Epoch 32/50
25/25 [==============================] - 3s 124ms/step - loss: 0.0121 - val_loss: 0.0174
Epoch 33/50
25/25 [==============================] - 3s 123ms/step - loss: 0.0115 - val_loss: 0.0181
Epoch 34/50
25/25 [==============================] - 3s 124ms/step - loss: 0.0109 - val_loss: 0.0175
Epoch 35/50
25/25 [==============================] - 3s 123ms/step - loss: 0.0112 - val_loss: 0.0209
Epoch 36/50
25/25 [==============================] - 3s 122ms/step - loss: 0.0113 - val_loss: 0.0164
Epoch 37/50
25/25 [==============================] - 3s 123ms/step - loss: 0.0109 - val_loss: 0.0186
Epoch 38/50
25/25 [==============================] - 3s 123ms/step - loss: 0.0108 - val_loss: 0.0170
Epoch 39/50
25/25 [==============================] - 3s 123ms/step - loss: 0.0108 - val_loss: 0.0212
Epoch 40/50
25/25 [==============================] - 3s 123ms/step - loss: 0.0107 - val_loss: 0.0189
Epoch 41/50
25/25 [==============================] - 3s 122ms/step - loss: 0.0105 - val_loss: 0.0203
Epoch 42/50
25/25 [==============================] - 3s 124ms/step - loss: 0.0103 - val_loss: 0.0199
Epoch 43/50
25/25 [==============================] - 3s 123ms/step - loss: 0.0101 - val_loss: 0.0187
Epoch 44/50
25/25 [==============================] - 3s 123ms/step - loss: 0.0097 - val_loss: 0.0161
Epoch 45/50
25/25 [==============================] - 3s 122ms/step - loss: 0.0100 - val_loss: 0.0193
Epoch 46/50
25/25 [==============================] - 3s 122ms/step - loss: 0.0094 - val_loss: 0.0194
Epoch 47/50
25/25 [==============================] - 3s 122ms/step - loss: 0.0094 - val_loss: 0.0182
Epoch 48/50
25/25 [==============================] - 3s 122ms/step - loss: 0.0095 - val_loss: 0.0201
Epoch 49/50
25/25 [==============================] - 3s 121ms/step - loss: 0.0095 - val_loss: 0.0196
Epoch 50/50
25/25 [==============================] - 3s 122ms/step - loss: 0.0094 - val_loss: 0.0183

Baseline Model

In [63]:
test_copy = dfs[0].copy()
for i in range(1,25):
  test_copy[i] = test_copy['price_ban'].shift(i)
test_copy

                      datetime  price_ban  ...        23        24
0    2021-09-09 05:00:00+00:00   0.008681  ...       NaN       NaN
1    2021-09-09 06:00:00+00:00   0.008569  ...       NaN       NaN
2    2021-09-09 11:00:00+00:00   0.008541  ...       NaN       NaN
3    2021-09-09 18:00:00+00:00   0.008598  ...       NaN       NaN
4    2021-09-10 04:00:00+00:00   0.008543  ...       NaN       NaN
...                        ...        ...  ...       ...       ...
1995 2021-10-23 17:00:00+00:00   0.008740  ...  0.007274  0.032580
1996 2021-09-25 19:00:00+00:00   0.007421  ...  0.025143  0.007274
1997 2021-10-02 17:00:00+00:00   0.007332  ...  0.020707  0.025143
1998 2021-11-11 15:00:00+00:00   0.022351  ...  0.007339  0.020707
1999 2021-10-23 16:00:00+00:00   0.008756  ...  0.007169  0.007339

[2000 rows x 27 columns]

In [14]:
tmp = np.expand_dims(X[0], axis= 0)
tmp.shape

(1, 48, 114)

In [15]:
coins= 19

In [16]:
pred = model.predict(tmp).reshape(horizon, coins)
pred

array([[ 0.31553674,  0.21041544,  0.7923707 ,  0.28320605,  0.396002  ,
         0.47127327,  0.37066314,  0.5543442 ,  0.55429065,  0.42577204,
         0.46080685,  0.36787444,  0.4856592 ,  0.47130674,  0.5204243 ,
         0.34622315,  0.39906946,  0.27701303,  0.36052245],
       [ 0.30914712,  0.22949186,  0.50520265,  0.44615734,  0.34465563,
         0.47320473,  0.25999597,  0.54256266,  0.41961002,  0.4460569 ,
         0.46280077,  0.20529649,  0.47121486,  0.5111708 ,  0.48269647,
         0.41757593,  0.48477003,  0.3897669 ,  0.55606735],
       [ 0.22259349,  0.21415877,  0.5276266 ,  0.38833866,  0.51240504,
         0.34788808,  0.3572773 ,  0.52313423,  0.2872548 ,  0.30979413,
         0.3244713 ,  0.37327462,  0.28110683,  0.33976188,  0.50581944,
         0.36323744,  0.60346234,  0.29552832,  0.7177497 ],
       [ 0.30582628,  0.37190184,  0.49335513,  0.25984845,  0.3298521 ,
         0.3642701 ,  0.2569003 ,  0.38586026,  0.4872382 ,  0.43772966,
         0.40259373,  0.3061123 ,  0.4608752 ,  0.5159956 ,  0.34456673,
         0.37902167,  0.47576624,  0.36136866,  0.47348845],
       [ 0.18415132,  0.27017996,  0.41016817,  0.2769524 ,  0.39129284,
         0.38629454,  0.38440922,  0.46209347,  0.21607389,  0.06816272,
         0.29762244,  0.35703608,  0.42090392,  0.21001215,  0.4315269 ,
         0.3503652 ,  0.33580875,  0.3610593 ,  0.365826  ],
       [ 0.32453024,  0.37525493,  0.5104784 ,  0.47024494,  0.43225247,
         0.48889893,  0.30993125,  0.33295932,  0.5160726 ,  0.36578193,
         0.14966597,  0.23169282,  0.43698147,  0.39765972,  0.48878607,
         0.42546695,  0.43902892,  0.3456912 ,  0.62190443],
       [ 0.32557178,  0.3749307 ,  0.5597911 ,  0.4073137 ,  0.52298737,
         0.30144748,  0.11742844,  0.60918075,  0.38435084,  0.4460837 ,
         0.4129858 ,  0.37737495,  0.5342579 ,  0.5393606 ,  0.5464467 ,
         0.415332  ,  0.46413526,  0.36170837,  0.41147888],
       [ 0.30903974,  0.3559659 ,  0.610798  ,  0.28480497,  0.21444422,
         0.46606952,  0.3514417 ,  0.32053584,  0.54410887,  0.3848524 ,
         0.45939383,  0.33154106,  0.3005553 ,  0.33787462,  0.23447725,
         0.41766062,  0.49194834,  0.32180607,  0.5005177 ],
       [ 0.33618778,  0.3585654 ,  0.49747398,  0.39560145,  0.59509236,
         0.47278208,  0.3833088 ,  0.42412812,  0.55253315,  0.32290873,
         0.4461692 ,  0.36355436,  0.36122712, -0.00859041, -0.01096409,
         0.40494004,  0.19525811,  0.04800861,  0.48801768],
       [ 0.2371582 ,  0.39748648,  0.6407488 ,  0.3917708 ,  0.541638  ,
         0.0387047 ,  0.3600181 ,  0.33969545,  0.5760999 ,  0.36810696,
         0.46723795,  0.3520839 ,  0.46170557,  0.48078415,  0.1906621 ,
         0.36502162,  0.44613934,  0.34435448,  0.5430351 ],
       [ 0.24802431,  0.4157247 ,  0.36641353,  0.45460954,  0.56117123,
         0.46775785,  0.37435904,  0.58905584,  0.49543554,  0.3866998 ,
         0.46929196,  0.35474768,  0.3267726 ,  0.538448  ,  0.465247  ,
         0.45271382,  0.57378906,  0.35553363,  0.6581927 ],
       [ 0.33050463,  0.41839033,  0.51773816,  0.4545694 ,  0.34262702,
         0.42867124,  0.37788203,  0.1930486 ,  0.5347407 ,  0.47321177,
         0.02448812,  0.25015414,  0.47444478,  0.3907866 ,  0.6124561 ,
         0.45480978,  0.5188876 ,  0.37858137,  0.72989535],
       [ 0.32555878,  0.37595373,  0.64320296,  0.47014955,  0.48644778,
         0.48870185,  0.33520222,  0.5684272 ,  0.5452087 ,  0.14877579,
         0.50384486,  0.30838698,  0.3677106 ,  0.40816236,  0.56807494,
         0.3453054 ,  0.5663879 ,  0.24688263,  0.26814854],
       [ 0.21444385,  0.3967702 ,  0.61832875,  0.2014783 ,  0.49114203,
         0.47906733,  0.36732125,  0.10370722,  0.57624316,  0.43332037,
         0.25559512,  0.414435  ,  0.49846604,  0.5211403 ,  0.39077318,
         0.43736002,  0.29382554,  0.3719845 ,  0.5029045 ],
       [ 0.33825225,  0.38102454,  0.6288687 ,  0.17692153,  0.44954127,
         0.51255155,  0.37350094,  0.58527124,  0.41847986,  0.44978505,
         0.4628415 ,  0.41937852,  0.18901643,  0.22637513,  0.4776564 ,
         0.43452412,  0.35507616,  0.38118222,  0.70387715],
       [ 0.3106057 ,  0.32114035,  0.15024391,  0.48485345,  0.48770446,
         0.4634873 ,  0.3806657 ,  0.5380759 ,  0.49392906,  0.4170298 ,
         0.20349243,  0.4070967 ,  0.5080016 ,  0.54401976,  0.5605876 ,
         0.42726806,  0.5175699 ,  0.3434964 ,  0.49060503],
       [ 0.3059    ,  0.41248393,  0.5465067 ,  0.45244306,  0.49795395,
         0.40629998,  0.28021654,  0.538328  ,  0.2837511 ,  0.45050162,
         0.4918822 ,  0.1997898 ,  0.46822223,  0.50842816,  0.47766927,
         0.3707195 ,  0.5733702 ,  0.33880422,  0.3937458 ],
       [ 0.29867482,  0.39364213,  0.26393113,  0.4690031 ,  0.29458043,
         0.42057145,  0.38448426,  0.37263596,  0.42164412,  0.3817395 ,
         0.4349262 ,  0.4091519 ,  0.2632058 ,  0.36136943,  0.44863296,
         0.45006162,  0.2933121 ,  0.39582103,  0.43219215],
       [ 0.32526368,  0.3872682 ,  0.5946322 ,  0.35307798,  0.31873703,
         0.35413095,  0.40586537,  0.22987452,  0.5736943 ,  0.4396294 ,
         0.43717483,  0.434351  ,  0.4612131 ,  0.5446623 ,  0.41700098,
         0.3705645 ,  0.1906729 ,  0.2708958 ,  0.5555861 ],
       [ 0.11639339,  0.4000656 ,  0.31696352,  0.30803418,  0.1250837 ,
         0.47722968,  0.37839818,  0.25011113,  0.5384533 ,  0.44760135,
         0.3728361 ,  0.3936614 ,  0.3662965 ,  0.523196  ,  0.5250596 ,
         0.34378266,  0.3564454 ,  0.25354955,  0.56282127],
       [ 0.32289445,  0.3600425 ,  0.4590243 ,  0.4563564 ,  0.34429696,
         0.44857746,  0.23396873,  0.6059581 ,  0.38860333,  0.33918837,
         0.4480373 ,  0.26662746,  0.45262763,  0.30906606,  0.30846512,
         0.44222003,  0.62098277,  0.35517105,  0.28563005],
       [ 0.32227403,  0.37885532,  0.41694486,  0.461188  ,  0.5712068 ,
         0.16304505,  0.3873458 ,  0.6365841 ,  0.3146096 ,  0.3279888 ,
         0.47144642,  0.28672352,  0.32721862,  0.2517558 ,  0.56509596,
         0.45288917,  0.45010224,  0.3692703 ,  0.3234209 ],
       [ 0.31409478,  0.39816245,  0.5655324 ,  0.37163174,  0.44804084,
         0.4316711 ,  0.3789505 ,  0.41941816,  0.20276456,  0.28395337,
         0.47557214,  0.41084215,  0.41156694,  0.55300885,  0.3560157 ,
         0.43725884,  0.4759885 ,  0.38016438,  0.28064337],
       [ 0.29705414,  0.40124694,  0.7477376 ,  0.40364075,  0.42017558,
         0.18898934,  0.29400027,  0.54006326,  0.50362027,  0.4856717 ,
         0.09726508,  0.35170487,  0.40332642,  0.48239857,  0.45997596,
         0.11098696,  0.05384714,  0.24939476,  0.5440953 ]],
      dtype=float32)

In [17]:
scalers

[MinMaxScaler(),
 MinMaxScaler(),
 MinMaxScaler(),
 MinMaxScaler(),
 MinMaxScaler(),
 MinMaxScaler(),
 MinMaxScaler(),
 MinMaxScaler(),
 MinMaxScaler(),
 MinMaxScaler(),
 MinMaxScaler(),
 MinMaxScaler(),
 MinMaxScaler(),
 MinMaxScaler(),
 MinMaxScaler(),
 MinMaxScaler(),
 MinMaxScaler(),
 MinMaxScaler(),
 MinMaxScaler()]

In [18]:
df = pd.DataFrame(pred)

# Inverse Transform

In [1]:
def inverse_transformer(y, scaler):

  # inverse scaling
  y = np.c_[y, 1,1,1,1,1]
  y = scaler.inverse_transform(y)
  y= y[:,0]
  
  # inverse log-transforming
  y = np.exp(y)[0]
  return y

def reshape_predictions(prediction_dataframe, list_of_scalers, list_of_dfs):

  for i in range(0,prediction_dataframe.shape[1]):
  
    scaler = scalers[i]
    prediction_dataframe[i] = prediction_dataframe[i].apply(lambda x: inverse_transformer(x,scaler))
    
    # renaming columns
    prediction_dataframe.columns = list_of_dfs

In [ ]:
real_stock_price_doge = inverse_transformer(y_pad_test[0],scaler_doge)
real_stock_price_samo = inverse_transformer(y_pad_test[1],scaler_samo)


predicted_stock_price = inverse_transformer(model.predict(X_pad_test), scaler_doge)

In [ ]:
np.exp(real_stock_price_doge)

# Inverse Log Transform

In [ ]:
real_stock_price_doge = np.exp(real_stock_price_doge)
real_stock_price_samo = np.exp(real_stock_price_samo)

#predicted_stock_price = np.exp(predicted_stock_price)

#predicted_stock_price.shape

# Evaluate

In [ ]:
rmse = np.sqrt(mean_squared_error(real_stock_price, predicted_stock_price))

print(f"RMSE = {rmse}")

plt.figure(figsize= (15,7))
plt.plot(real_stock_price, color = 'blue', label = "Real Price")
plt.plot(predicted_stock_price, color = 'red', label = "Predicted Price")
plt.title("Dogecoin Price Prediction")
plt.xlabel("Time")
plt.ylabel("Dogecoin Price")
plt.legend()

plt.show()

# Notes on different model performances

In [ ]:
eval_dict = {"optimizer": ["adam","adam","adam","adam","adam","adam","adam","adam","adam", "adam", "rmsprop", "rmsprop", "adam"],
             "loss": ["mse","mse","mse","mse","mse","mse","mse","mse","mse", "mse", "mse", "mse", "mse"],
              "history_size": [14, 14, 3, 3, 2, 1, 2, 2, 2, 2, 2, 2, 2],
             "epochs": [500, 500, 500, 500, 500, 500, 500, 500, 500, 500, 500, 500, 500],
             "layer0": [50,50,50,50,50,50, 50, 50, 50, 50, 50, 100, 100],
            "layer1": [10, 20, 20, 20, 50, 50, 0, 50, 20, 20, 50, 10, 10],
           "layer2": [10, 10, 10, 20, 10, 10, 0, 50, 0, 10, 10, 0, 0],
           "layer3": [0, 0, 0, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0],
           "layer4": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
           "layer5": [0, 0, 0, 0, 0, 0,0, 0, 0, 0, 0, 0, 0],
            "output": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
             "batch_size": [32,32,32,32,32,32,32,32,32,32,32,32,32],
           "rmse": [0.051, 0.037, 0.017, 0.018, 0.014, 0.021, 0.020, 0.023, np.NaN, 0.023, np.NaN, 0.020, 0.022]}

eval_df = pd.DataFrame.from_dict(eval_dict)

#for k,v in eval_dict.items():
  #print(f"{k} : {len(v)}")

eval_df

In [ ]:
df_final.head()

In [ ]:
df_pred = pd.DataFrame(X_test[0], columns= ["high", "Google_trends"])
df_pred

In [ ]:
def preprocess(df, scaler):
    """method that pre-process the data"""

    # log transforming the data
    df["high"] = np.log(df["high"])

    # selecting relevant column from df
    dataset = df.values

    # scaling the data
    dataset_scaled = scaler.fit_transform(dataset)

    dataset_scaled = dataset_scaled.reshape(1,dataset.shape[0],dataset.shape[1])

    return dataset_scaled, scaler


def inverse_scaler(pred, scaler):

  pred = inverse_transformer(pred)

  pred = np.exp(pred)

  return pred

In [ ]:
df_pred_preproc, scaler = preprocess(df_pred, scaler)

In [ ]:
pred = model.predict(df_pred_preproc)
prediction = inverse_scaler(pred, scaler)[0][0]

prediction

In [ ]:
df_pred_preproc.shape

In [ ]:
pred = model.predict(df_pred_preproc)[0][0]
pred

# Features

- historical price data
- google price data
- rendite (calculate daily return)
- kumulierte rendite (z.b. letzte 5 Tage)
- short term moving average (letzte 10 Tage)
- long term moving average (letzte 30 Tage)
- alternativ: binÃ¤res feature (liegt kurzfristiger MA Ã¼ber langfristigen MA)
- talib (financial indicators inkludieren)
- talib RSI (relative strength index)
- volumen inkludieren

- evtl. auf Klassifikationsproblem umsteigen