In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from crypto_prediction.data import *
import pandas as pd

/home/rob/.pyenv/versions/3.8.12/envs/crypto_prediction/lib/python3.8/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [12]:
df = prediction_ready_df(['ban','wow'], 6)

In [13]:
df[0]

                     price_ban  tweets_ban
datetime
2021-12-01 09:00:00   0.016868           0
2021-12-01 10:00:00   0.016899           0
2021-12-01 11:00:00   0.016913           2
2021-12-01 12:00:00   0.017118           2
2021-12-01 13:00:00   0.017245           2
2021-12-01 14:00:00   0.017276           1

In [14]:
df[1]

                     price_wow  tweets_wow
datetime
2021-12-01 09:00:00   0.190933           0
2021-12-01 10:00:00   0.192743           0
2021-12-01 11:00:00   0.190683           0
2021-12-01 12:00:00   0.197862           0
2021-12-01 13:00:00   0.198388           0
2021-12-01 14:00:00   0.200623           0

In [ ]:
df

In [ ]:
df2

In [ ]:
x = tmp[::-1]

In [ ]:
x[1]

In [ ]:
test = []
for i,_ in enumerate(tmp):
    print(tmp[i])

In [ ]:
for x in tmp:
    print(tmp)

In [ ]:
dfs = twitter_history(['ban','doge'], 1000)

In [ ]:
len(alle)

In [ ]:
coins, twitter = prediction_ready_df2(['doge', 'ban'], 1000)

In [ ]:
coins['doge']

In [ ]:
twitter['doge']

In [ ]:
x = prediction_ready_df2(['doge', 'ban'], 1000)

In [ ]:
x[0]

In [4]:
tickerlist = ["ban", "cummies", "dinu", "doge", "doggy", "elon", "erc20", "ftm", "grlc", "hoge", "lowb", "mona", "samo", "shib", "shibx", "smi",
"wow", "yooshi","yummy"]

In [5]:
dfs = prediction_ready_df2(tickerlist, 2000)

coins start_dt 2021-09-09 00:43:45.935978+00:00
coins end_dt 2021-12-01 08:43:45.935978+00:00

In [12]:
for i,df in enumerate(dfs):
    df.to_csv('2000_twitter_'+tickerlist[i]+'.csv')

In [8]:
dfs

[                     price_ban  tweets_ban
 datetime
 2021-09-09 01:00:00   0.008674           1
 2021-09-09 02:00:00   0.008572           4
 2021-09-09 03:00:00   0.008527           2
 2021-09-09 04:00:00   0.008642           2
 2021-09-09 05:00:00   0.008681           0
 ...                        ...         ...
 2021-12-01 04:00:00   0.017068           2
 2021-12-01 05:00:00   0.016957           0
 2021-12-01 06:00:00   0.016904           0
 2021-12-01 07:00:00   0.016858           0
 2021-12-01 08:00:00   0.016783           1

 [2000 rows x 2 columns],
                      price_cummies  tweets_cummies
 datetime
 2021-09-09 01:00:00       0.025117               1
 2021-09-09 02:00:00       0.024642               2
 2021-09-09 03:00:00       0.025494               3
 2021-09-09 04:00:00       0.025503               3
 2021-09-09 05:00:00       0.025276               3
 ...                            ...             ...
 2021-12-01 04:00:00       0.022494             101
 2021-12-01 05:00:00       0.024012              32
 2021-12-01 06:00:00       0.023969              44
 2021-12-01 07:00:00       0.024613              52
 2021-12-01 08:00:00       0.022398              56

 [2000 rows x 2 columns],
                        price_dinu  tweets_dinu
 datetime
 2021-09-09 01:00:00  2.089195e-09            0
 2021-09-09 02:00:00  2.090754e-09            0
 2021-09-09 03:00:00  2.098819e-09            0
 2021-09-09 04:00:00  2.070200e-09            0
 2021-09-09 05:00:00  2.087767e-09            0
 ...                           ...          ...
 2021-12-01 04:00:00  1.580730e-08           35
 2021-12-01 05:00:00  1.568805e-08           14
 2021-12-01 06:00:00  1.570611e-08           10
 2021-12-01 07:00:00  1.584112e-08           12
 2021-12-01 08:00:00  1.592641e-08            9

 [2000 rows x 2 columns],
                      price_doge  tweets_doge
 datetime
 2021-09-09 01:00:00    0.219392          330
 2021-09-09 02:00:00    0.215121         1491
 2021-09-09 03:00:00    0.213484         1509
 2021-09-09 04:00:00    0.214150         1488
 2021-09-09 05:00:00    0.215424         1302
 ...                         ...          ...
 2021-12-01 04:00:00    0.190308         1426
 2021-12-01 05:00:00    0.189591         1897
 2021-12-01 06:00:00    0.188957         2518
 2021-12-01 07:00:00    0.189605         2159
 2021-12-01 08:00:00    0.190853         1734

 [2000 rows x 2 columns],
                      price_doggy  tweets_doggy
 datetime
 2021-09-09 01:00:00     0.003673             0
 2021-09-09 02:00:00     0.003581             0
 2021-09-09 03:00:00     0.003555             0
 2021-09-09 04:00:00     0.003579             0
 2021-09-09 05:00:00     0.003586             0
 ...                          ...           ...
 2021-12-01 04:00:00     0.005381             0
 2021-12-01 05:00:00     0.005347             0
 2021-12-01 06:00:00     0.005297             0
 2021-12-01 07:00:00     0.005284             0
 2021-12-01 08:00:00     0.005340             0

 [2000 rows x 2 columns],
                        price_elon  tweets_elon
 datetime
 2021-09-09 01:00:00  4.602008e-08            0
 2021-09-09 02:00:00  4.521019e-08            0
 2021-09-09 03:00:00  4.481448e-08            1
 2021-09-09 04:00:00  4.613245e-08            0
 2021-09-09 05:00:00  4.584606e-08            0
 ...                           ...          ...
 2021-12-01 04:00:00  1.492893e-06          293
 2021-12-01 05:00:00  1.493946e-06          369
 2021-12-01 06:00:00  1.476465e-06          566
 2021-12-01 07:00:00  1.494934e-06          405
 2021-12-01 08:00:00  1.490589e-06          251

 [2000 rows x 2 columns],
                      price_erc20  tweets_erc20
 datetime
 2021-09-09 01:00:00     0.015055            10
 2021-09-09 02:00:00     0.014962            51
 2021-09-09 03:00:00          NaN            41
 2021-09-09 04:00:00     0.014823            48
 2021-09-09 05:00:00     0.014883            33
 ...                          ...           ...
 2021-12-01 04:00:00     0.033507           250
 2021-12-01 05:00:00     0.033748           243
 2021-12-01 06:00:00     0.033347           209
 2021-12-01 07:00:00     0.033579           193
 2021-12-01 08:00:00     0.034032           600

 [2000 rows x 2 columns],
                      price_ftm  tweets_ftm
 datetime
 2021-09-09 01:00:00   1.408068          20
 2021-09-09 02:00:00   1.424661          70
 2021-09-09 03:00:00   1.408993          82
 2021-09-09 04:00:00   1.437049          90
 2021-09-09 05:00:00   1.587323          90
 ...                        ...         ...
 2021-12-01 04:00:00   1.918938         493
 2021-12-01 05:00:00   1.919306         470
 2021-12-01 06:00:00   1.961492         376
 2021-12-01 07:00:00   1.968376         437
 2021-12-01 08:00:00   1.978312         345

 [2000 rows x 2 columns],
                      price_grlc  tweets_grlc
 datetime
 2021-09-09 01:00:00    0.050700            0
 2021-09-09 02:00:00    0.050404            0
 2021-09-09 03:00:00    0.050284            0
 2021-09-09 04:00:00    0.050377            0
 2021-09-09 05:00:00    0.050751            0
 ...                         ...          ...
 2021-12-01 04:00:00    0.047382            0
 2021-12-01 05:00:00    0.047214            0
 2021-12-01 06:00:00    0.047009            1
 2021-12-01 07:00:00    0.047151            0
 2021-12-01 08:00:00    0.047402            0

 [2000 rows x 2 columns],
                      price_hoge  tweets_hoge
 datetime
 2021-09-09 01:00:00    0.000094            2
 2021-09-09 02:00:00    0.000094            9
 2021-09-09 03:00:00    0.000095            8
 2021-09-09 04:00:00    0.000096           23
 2021-09-09 05:00:00    0.000096           17
 ...                         ...          ...
 2021-12-01 04:00:00    0.000323           67
 2021-12-01 05:00:00    0.000310           98
 2021-12-01 06:00:00    0.000313           25
 2021-12-01 07:00:00    0.000316           22
 2021-12-01 08:00:00    0.000323           19

 [2000 rows x 2 columns],
                      price_lowb  tweets_lowb
 datetime
 2021-09-09 01:00:00    0.000073            0
 2021-09-09 02:00:00    0.000073            1
 2021-09-09 03:00:00    0.000072            0
 2021-09-09 04:00:00    0.000073            0
 2021-09-09 05:00:00    0.000073            0
 ...                         ...          ...
 2021-12-01 04:00:00    0.000058            0
 2021-12-01 05:00:00    0.000058            1
 2021-12-01 06:00:00    0.000058            0
 2021-12-01 07:00:00    0.000059            0
 2021-12-01 08:00:00    0.000059            0

 [2000 rows x 2 columns],
                      price_mona  tweets_mona
 datetime
 2021-09-09 01:00:00    1.297481            0
 2021-09-09 02:00:00    1.292120            0
 2021-09-09 03:00:00    1.292921            1
 2021-09-09 04:00:00    1.292875            1
 2021-09-09 05:00:00    1.299062            0
 ...                         ...          ...
 2021-12-01 04:00:00    1.586674           11
 2021-12-01 05:00:00    1.570865            0
 2021-12-01 06:00:00    1.580719            2
 2021-12-01 07:00:00    1.603758            6
 2021-12-01 08:00:00    1.594361            3

 [2000 rows x 2 columns],
                      price_samo  tweets_samo
 datetime
 2021-09-09 01:00:00    0.004886            0
 2021-09-09 02:00:00    0.005079            0
 2021-09-09 03:00:00    0.005163            0
 2021-09-09 04:00:00    0.005210            0
 2021-09-09 05:00:00    0.005300            0
 ...                         ...          ...
 2021-12-01 04:00:00    0.070499            1
 2021-12-01 05:00:00    0.070015            0
 2021-12-01 06:00:00    0.069674            0
 2021-12-01 07:00:00    0.069916            0
 2021-12-01 08:00:00    0.070345            0

 [2000 rows x 2 columns],
                      price_shib  tweets_shib
 datetime
 2021-09-09 01:00:00    0.000006           40
 2021-09-09 02:00:00    0.000006          141
 2021-09-09 03:00:00    0.000006          130
 2021-09-09 04:00:00    0.000006          155
 2021-09-09 05:00:00    0.000006          185
 ...                         ...          ...
 2021-12-01 04:00:00    0.000041         2726
 2021-12-01 05:00:00    0.000040         2456
 2021-12-01 06:00:00    0.000040         2756
 2021-12-01 07:00:00    0.000040         3372
 2021-12-01 08:00:00    0.000041         3313

 [2000 rows x 2 columns],
                      price_shibx  tweets_shibx
 datetime
 2021-09-09 01:00:00     0.000650             0
 2021-09-09 02:00:00     0.000640             0
 2021-09-09 03:00:00     0.000646             0
 2021-09-09 04:00:00          NaN             0
 2021-09-09 05:00:00     0.000707             0
 ...                          ...           ...
 2021-12-01 04:00:00     0.000535             0
 2021-12-01 05:00:00     0.000530             0
 2021-12-01 06:00:00     0.000534             1
 2021-12-01 07:00:00     0.000535             0
 2021-12-01 08:00:00     0.000539             0

 [2000 rows x 2 columns],
                      price_smi  tweets_smi
 datetime
 2021-09-09 01:00:00   0.000002         167
 2021-09-09 02:00:00   0.000002         485
 2021-09-09 03:00:00   0.000002         933
 2021-09-09 04:00:00   0.000002        1497
 2021-09-09 05:00:00   0.000002         879
 ...                        ...         ...
 2021-12-01 04:00:00   0.000002        2842
 2021-12-01 05:00:00   0.000002        2769
 2021-12-01 06:00:00   0.000002        2038
 2021-12-01 07:00:00   0.000002        1803
 2021-12-01 08:00:00   0.000002        1757

 [2000 rows x 2 columns],
                      price_wow  tweets_wow
 datetime
 2021-09-09 01:00:00   0.389580           0
 2021-09-09 02:00:00   0.386048           0
 2021-09-09 03:00:00   0.385175           0
 2021-09-09 04:00:00   0.379106           0
 2021-09-09 05:00:00   0.374059           0
 ...                        ...         ...
 2021-12-01 04:00:00   0.202116           0
 2021-12-01 05:00:00   0.201125           0
 2021-12-01 06:00:00   0.198711           0
 2021-12-01 07:00:00   0.198982           1
 2021-12-01 08:00:00   0.199287           0

 [2000 rows x 2 columns],
                      price_yooshi  tweets_yooshi
 datetime
 2021-09-09 01:00:00  2.160071e-07              0
 2021-09-09 02:00:00  2.151078e-07              0
 2021-09-09 03:00:00  2.093786e-07              0
 2021-09-09 04:00:00  2.088088e-07              0
 2021-09-09 05:00:00  2.136472e-07              0
 ...                           ...            ...
 2021-12-01 04:00:00  1.590283e-06              0
 2021-12-01 05:00:00  1.599834e-06              0
 2021-12-01 06:00:00  1.699506e-06              0
 2021-12-01 07:00:00  1.796282e-06              0
 2021-12-01 08:00:00  1.824175e-06              0

 [2000 rows x 2 columns],
                      price_yummy  tweets_yummy
 datetime
 2021-09-09 01:00:00     0.000007             0
 2021-09-09 02:00:00     0.000007             0
 2021-09-09 03:00:00     0.000007             0
 2021-09-09 04:00:00     0.000007             0
 2021-09-09 05:00:00     0.000007             0
 ...                          ...           ...
 2021-12-01 04:00:00     0.000008             0
 2021-12-01 05:00:00     0.000008             0
 2021-12-01 06:00:00     0.000008             0
 2021-12-01 07:00:00     0.000008             0
 2021-12-01 08:00:00     0.000008             0

 [2000 rows x 2 columns]]

In [13]:
for i,df in enumerate(dfs):
    df.to_json('2000_twitter_'+tickerlist[i]+'.json')

# check to make the last cycles consistent

In [93]:
dfs = prediction_ready_df(['ban'], 1)

coins start_dt 2021-12-01 09:22:09.120433+00:00
coins end_dt 2021-12-01 10:22:09.120433+00:00

In [94]:
dfs[0]

                     price_ban  tweets_ban
datetime
2021-12-01 10:00:00   0.016889           0

In [92]:
twitter

{'ban':                      tweet_count
 datetime
 2021-12-01 10:00:00            0}

In [ ]:
df = prediction_ready_df(['ban'], 1)