In [17]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [54]:
from crypto_prediction.data import prediction_ready_df
import pandas as pd

In [19]:
l1 = ['doge','shib','elon','samo','hoge','mona','dogedash','erc20','ban','cummies']
l2 = ['doggy','smi','doe','pepecash','wow','dinu','yummy','shibx','lowb','grlc']

In [20]:
#df_list = prediction_ready_df(, 2160)

In [ ]:
#coins_dict, trends_df = prediction_ready_df(['doggy'], 2160)
xx = prediction_ready_df(['doggy'], 2160)

In [ ]:
xx

In [39]:
coins_dict['doggy']

                        timestamp     price  market_caps  total_volumes
datetime
2021-09-01 12:00:00  1.630498e+12  0.005720          0.0   2.329907e+06
2021-09-01 13:00:00  1.630501e+12  0.005641          0.0   2.306569e+06
2021-09-01 14:00:00  1.630505e+12  0.005593          0.0   2.167751e+06
2021-09-01 15:00:00  1.630509e+12  0.005484          0.0   2.100945e+06
2021-09-01 16:00:00  1.630512e+12  0.005464          0.0   2.053369e+06
...                           ...       ...          ...            ...
2021-11-30 06:00:00  1.638254e+12  0.005592          0.0   2.142170e+06
2021-11-30 07:00:00  1.638257e+12  0.005731          0.0   2.212899e+06
2021-11-30 08:00:00  1.638261e+12  0.005461          0.0   2.147054e+06
2021-11-30 09:00:00  1.638265e+12  0.005412          0.0   2.089236e+06
2021-11-30 10:00:00  1.638268e+12  0.005444          0.0   2.103236e+06

[2159 rows x 4 columns]

In [59]:
trends_df.head(2)

                     doggy
date
2021-09-29 11:00:00      0
2021-09-29 12:00:00      0

In [51]:
#trends_df.index.names = ['date']

In [60]:
trends_df['test'] = 'test'

In [61]:
trends_df

                     doggy  test
date
2021-09-29 11:00:00      0  test
2021-09-29 12:00:00      0  test
2021-09-29 13:00:00      0  test
2021-09-29 14:00:00      0  test
2021-09-29 15:00:00      0  test
...                    ...   ...
2021-11-30 06:00:00     27  test
2021-11-30 07:00:00     12  test
2021-11-30 08:00:00     58  test
2021-11-30 09:00:00     31  test
2021-11-30 10:00:00     10  test

[1496 rows x 2 columns]

In [62]:
#df = coins_dict['doggy'].merge(trends_df, how='left')
df = pd.merge(coins_dict['doggy'], trends_df['doggy'], how='left', left_index=True, right_index=True)

In [63]:
df

                        timestamp     price  market_caps  total_volumes  doggy
2021-09-01 12:00:00  1.630498e+12  0.005720          0.0   2.329907e+06    NaN
2021-09-01 13:00:00  1.630501e+12  0.005641          0.0   2.306569e+06    NaN
2021-09-01 14:00:00  1.630505e+12  0.005593          0.0   2.167751e+06    NaN
2021-09-01 15:00:00  1.630509e+12  0.005484          0.0   2.100945e+06    NaN
2021-09-01 16:00:00  1.630512e+12  0.005464          0.0   2.053369e+06    NaN
...                           ...       ...          ...            ...    ...
2021-11-30 06:00:00  1.638254e+12  0.005592          0.0   2.142170e+06   27.0
2021-11-30 07:00:00  1.638257e+12  0.005731          0.0   2.212899e+06   12.0
2021-11-30 08:00:00  1.638261e+12  0.005461          0.0   2.147054e+06   58.0
2021-11-30 09:00:00  1.638265e+12  0.005412          0.0   2.089236e+06   31.0
2021-11-30 10:00:00  1.638268e+12  0.005444          0.0   2.103236e+06   10.0

[2167 rows x 5 columns]

In [57]:
df['doggy'].fillna(-1,inplace=True)

In [58]:
df

                        timestamp     price  market_caps  total_volumes  doggy
2021-09-01 12:00:00  1.630498e+12  0.005720          0.0   2.329907e+06   -1.0
2021-09-01 13:00:00  1.630501e+12  0.005641          0.0   2.306569e+06   -1.0
2021-09-01 14:00:00  1.630505e+12  0.005593          0.0   2.167751e+06   -1.0
2021-09-01 15:00:00  1.630509e+12  0.005484          0.0   2.100945e+06   -1.0
2021-09-01 16:00:00  1.630512e+12  0.005464          0.0   2.053369e+06   -1.0
...                           ...       ...          ...            ...    ...
2021-11-30 06:00:00  1.638254e+12  0.005592          0.0   2.142170e+06   27.0
2021-11-30 07:00:00  1.638257e+12  0.005731          0.0   2.212899e+06   12.0
2021-11-30 08:00:00  1.638261e+12  0.005461          0.0   2.147054e+06   58.0
2021-11-30 09:00:00  1.638265e+12  0.005412          0.0   2.089236e+06   31.0
2021-11-30 10:00:00  1.638268e+12  0.005444          0.0   2.103236e+06   10.0

[2167 rows x 5 columns]